<?xml version="1.0"?>
<config>
    <modules>
        <Silex_GoogleAds>
             <version>1.0.2</version>
        </Silex_GoogleAds>
    </modules>
    <global>
        <blocks>
            <silex_googleads>
                <class>Silex_GoogleAds_Block</class>
            </silex_googleads>
        </blocks>
        <helpers>
            <silex_googleads>
                <class>Silex_GoogleAds_Helper</class>
            </silex_googleads>
        </helpers>
        <models>
            <silex_googleads>
                <class>Silex_GoogleAds_Model</class>
            </silex_googleads>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <silex_googleads>
                    <file>silex/google_ads.xml</file>
                </silex_googleads>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silex_GoogleAds>
                    <files>
                        <default>Silex_GoogleAds.csv</default>
                    </files>
                </Silex_GoogleAds>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googleads_order_success>
                        <class>silex_googleads/observer</class>
                        <method>setGoogleAdsOnOrderSuccessPageView</method>
                    </googleads_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <googleads_order_success>
                        <class>silex_googleads/observer</class>
                        <method>setGoogleAdsOnOrderSuccessPageView</method>
                    </googleads_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Silex_GoogleAds>
                    <files>
                        <default>Silex_GoogleAds.csv</default>
                    </files>
                </Silex_GoogleAds>
            </modules>
        </translate>
    </adminhtml>
	<default>
        <google>
            <googleads>
                <active>0</active>
            </googleads>
        </google>
    </default>
</config>